<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:usesCleartextTraffic="false"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Wittq">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Wittq">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".Tq3161WidgetReceiver"
            android:exported="true" android:label="3/161 TQ">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/tq3161_widget_info" />
        </receiver>
        <receiver android:name=".Ma200WidgetReceiver" android:exported="true" android:label="200MA TQ">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/ma200_widget_info" />
        </receiver>
        <receiver android:name=".Tq5220WidgetReceiver" android:exported="true" android:label="5/220 TQ">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/tq5220_widget_info" />
        </receiver>
        <receiver android:name=".FGIWidgetReceiver" android:exported="true" android:label="FGI">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/fgi_widget_info" />
        </receiver>
        <receiver
            android:name=".Tq3161185SignalWidgetReceiver"
            android:exported="true"
            android:label="3/161/185 TQ">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/qqq_strategy_widget_info" />
        </receiver>
    </application>

</manifest>